---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="О методах | Дарья Земскова" description="О методах консультирования Дарьи Земсковой">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="О методах"
				tagline="Коротко о методах, в которых я работаю"
				align="start"
			>
			</Hero>

			<section>

				<div class="content">

					<h2 class="section-title">КПТ</h2>
					<p>КПТ, или когнитивно-поведенческая терапия, – направление психотерапии, которое помогает раскрывать и исправлять негативное восприятие реальности и переводить убеждения на более позитивный уровень. Используя техники КПТ, я помогаю человеку понять причины негативного мышления, тревог и страхов, а также научиться правильно реагировать на внешние раздражители.</p>
					
					<h2 class="section-title">ACT</h2>
					<p>ACT, или терапия принятия и ответственности, – одно из психотерапевтических направлений, основанное на модели когнитивно-поведенческой терапии. Основное отличие ACT же от других подходов состоит в том, что в нем фокус работы с человеком направлен не на борьбу с симптомами, а на создание той жизни, которая соответствует его ценностям. Метод помогает развить психологическую гибкость: способность оставаться в контакте с собой, чтобы продолжать делать то, что важно, несмотря на сложные переживания.</p>

					<h2 class="section-title">CFT</h2>
					<p>CFT, или терапия, сфокусированная на сострадании, – это метод, основная цель которого – помочь людям, особенно тем, кто страдает от сильной самокритики и чувства стыда, развить сострадание к себе и другим. CFT основывается на принципах эволюционной психологии, нейробиологии эмоций и и некоторых аспектах философии, предлагая глубокое понимание того, как формируется наш разум и эмоции.</p>
			
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.section-title + p {
		margin-top: 0.5rem;
	}

	p + .section-title{
		margin-top: 1rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
